<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="FutureAccount" value=""/>
    <add key="FutureAccount2" value=""/>    
    <add key="LinePushpath" value="C:\TradeSoft\linepush.py"/>
    <add key="Pythonpath" value="C:\Users\Python36\python.exe"/>
    <add key="Connectionstring" value="SERVER=localhost;DATABASE=Stock;Trusted_Connection=True"/>
    <add key="durationms" value="60000"/>
    <add key="calib_durationms" value="3600000"/>
    <add key="calib_timer_enabled" value="0"/><!--0->enabled, 1-> disable -->
    <add key="SpecialLastOrder" value="0"/><!--0->enabled special time for last order, 1-> disable -->
    <!--Strategy setup area, total number must match number of strategy path
    index must start from 0. Name convention: morning_strat + index, night_strat + index -->
    <add key="TotalMorningStrategies" value="4"/>
    <add key="TotalNightStrategies" value="4"/>
    <add key="morning_strat0" value="C:\TradeSoft\Morning_1min.py"/>
    <add key="morning_strat0_interval" value="5"/>
    <add key="morning_strat1" value="C:\TradeSoft\Morning_1min_2.py"/>
    <add key="morning_strat1_interval" value="5"/>
    <add key="morning_strat2" value="C:\TradeSoft\Morning_1min_3.py"/>
    <add key="morning_strat2_interval" value="5"/>
    <add key="morning_strat3" value="C:\TradeSoft\Morning_1min_4.py"/>
    <add key="morning_strat3_interval" value="1"/>


    <add key="night_strat0" value="C:\TradeSoft\Morning_1min.py"/>
    <add key="night_strat0_interval" value="5"/>
    <add key="night_strat1" value="C:\TradeSoft\Morning_1min_2.py"/>
    <add key="night_strat1_interval" value="5"/>
    <add key="night_strat2" value="C:\TradeSoft\Morning_1min_3.py"/>
    <add key="night_strat2_interval" value="5"/>
    <add key="night_strat3" value="C:\TradeSoft\Morning_1min_4.py"/>
    <add key="night_strat3_interval" value="1"/>
	
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
