<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="FutureAccount" value="" />
    <add key="FutureAccount2" value="" />
    <add key="stratpath1" value="C:\Users\HY\Dropbox\TradeSoft\psy.py" />
    <add key="stratpath2" value="C:\Users\HY\Dropbox\TradeSoft\psy-PM.py" />
    <add key="LinePushpath" value="C:\Users\HY\Dropbox\TradeSoft\linepush.py" />
    <add key="Pythonpath" value="C:\Python\Scripts\python.exe" />
    <add key="Connectionstring" value="SERVER=localhost;DATABASE=Stock;Trusted_Connection=True" />
    <add key="durationms" value="300000" />
    <add key="SpecialLastOrder" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>